:root {
  --text: #250904;
  --background: #fefcfb;
  --primary: #e2755e;
  --secondary: #dab8b0;
  --accent: #2e2e2e;
}
body {
  margin: 0px;
  background-color: var(--background);
}
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* navbar*/
.Navbar {
  background-color: var(--accent);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Navbar a {
  text-decoration: none;
}

.NavButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 40px;
  border-radius: 3px;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--background);
  text-transform: capitalize;
}

.NavButton:hover,
.active {
  background-color: var(--primary);
}
